/* src/components/Login/Login.css */
.divLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  --s: 37px;

  --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}



.padreForm {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.padreForm h1 {
  margin-bottom: 20px;
}

.imgUsuarios {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.divForm {
  margin-bottom: 20px;
}

.Inputs {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.buttonLogin, .buttonRegistrate {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.buttonLogin:hover, .buttonRegistrate:hover {
  background-color: #0056b3;
}

.buttonOlvido {
  padding: 8px;
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.buttonOlvido:hover {
  text-decoration: underline;
}

.divH4Button {
  margin-top: 20px;
}

.social-buttons {
  margin-bottom: 20px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.social-button img {
  margin-right: 10px;
}

.social-button.google {
  background-color: #fff;
  border-color: #db4437;
  color: #db4437;
}

.social-button.google:hover {
  background-color: #db4437;
  color: white;
}

.social-button.github {
  background-color: #fff;
  border-color: #24292e;
  color: #24292e;
}

.social-button.github:hover {
  background-color: #24292e;
  color: white;
}

